_content/skill/node-red-joke-skill.json
[{"id":"7d4d35f1.6db1dc","type":"tab","label":"WAS Joke skill tutorial","disabled":false,"info":""},{"id":"1a70bc20.fe2444","type":"comment","z":"7d4d35f1.6db1dc","name":"intents.json","info":"Used to say 'only call me if this intent is accompanied by this entity'.\n\nLightly used and normally left to {} at the moment but a powerful\nfeature should you need it.","x":410,"y":680,"wires":[]},{"id":"5e619425.17e23c","type":"comment","z":"7d4d35f1.6db1dc","name":"manifest.json","info":"This example uses Watson Assistant (WCS) only\nfor the for natural language understanding \nhowever you can use whatever you wish as long \nas you return the right confidence level\nit should be fine.\n\nThreshold is used to tell WAS that you should only \nbe called if the confidence is >= threshold\n\nThe manifest.json will eventually go...\n","x":410,"y":840,"wires":[]},{"id":"231edbbe.dace24","type":"comment","z":"7d4d35f1.6db1dc","name":"wcs.json","info":"Deprecated - skill now does the NLU processing\nso it doesn't need to return these credentials to\nWAS.  Left in here as the WAS core still calls\nthis API for now.","x":400,"y":760,"wires":[]},{"id":"c537c209.a506b","type":"comment","z":"7d4d35f1.6db1dc","name":"Dad","info":"Change these to call a subflow or whatever and return your\nresult here into the template (or create your own template node \nif you are doing something specific)\n\n","x":550,"y":240,"wires":[]},{"id":"a7b94b10.757e18","type":"http in","z":"7d4d35f1.6db1dc","name":"","url":"/v1/api/evaluate","method":"post","swaggerDoc":"","x":140,"y":120,"wires":[["7e4438e3.5fe268","aeafefdc.5b94a","b7c47166.34222"]]},{"id":"3f4a1c9.328ede4","type":"watson-conversation-v1","z":"7d4d35f1.6db1dc","name":"WA Workspace","workspaceid":"9e7545b0-eb7e-4067-989f-fc7fa0bdb744","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":740,"y":120,"wires":[["5db6b4cd.0dcc3c","c1aa799a.187cc8"]]},{"id":"44171236.12800c","type":"template","z":"7d4d35f1.6db1dc","name":"evaluate response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"responseCode\": 200,\n  \"requestResult\": \"{{{payload.response}}}\",\n  \"intentities\": [\n    {\n      \"intents\": {{{payload.intents}}},\n      \"entities\": {{{payload.entities}}},\n      \"name\": \"{{{payload.nlu}}}\"\n    }\n  ],\n  \"handleUtterance\": {{{payload.handleUtterance}}},\n  \"context\": {\n    \"application\": {\n      \"id\": \"app-001\",\n      \"attributes\": {}\n    },\n    \"session\": {\n      \"skill\": {\n        \"attributes\": {\n        }\n      },\n      \"attributes\": {}\n    }\n  }\n}","output":"json","x":1150,"y":120,"wires":[["4ebaf807.9f3968","c85d471f.7fa7d8"]]},{"id":"5db6b4cd.0dcc3c","type":"function","z":"7d4d35f1.6db1dc","name":"Get wcs result","func":"let intents = \"[]\";\nlet entities = \"[]\";\nlet response = \"\";\nlet nlu = \"wcs\";\nlet handleUtterance = true;\n\n// Find out if any intents were returned\nif(msg.payload.intents) {\n    intents = JSON.stringify(msg.payload.intents);\n}\n\n// Find out if any entities were returned\nif(msg.payload.entities) {\n    entities = JSON.stringify(msg.payload.entities);\n}\n\n// Concatenate the array if there \n// is more than one item\nif(msg.payload.output.text.length > 0) {\n    response = msg.payload.output.text.join();\n} else {\n    response = \"[No Response from Watson Assistant]\";\n}\n\n// You can put some logic here too if you like\n// to set handleUtterance to true or false \nhandleUtterance=true;\n\n// Set the data we need in the payload for the\n// template to pick up\nmsg.payload = {\n    \"intents\" : intents,\n    \"entities\" : entities,\n    \"response\" : response,\n    \"nlu\" : nlu,\n    \"handleUtterance\" : handleUtterance\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":120,"wires":[["44171236.12800c","c919618b.899e7"]]},{"id":"c85d471f.7fa7d8","type":"http response","z":"7d4d35f1.6db1dc","name":"/v1/api/evaluate","x":1360,"y":120,"wires":[]},{"id":"bd38e91a.018b78","type":"template","z":"7d4d35f1.6db1dc","name":"WCS input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.text}}}","x":550,"y":120,"wires":[["3f4a1c9.328ede4"]]},{"id":"7e4438e3.5fe268","type":"function","z":"7d4d35f1.6db1dc","name":"Set user for wcs","func":"msg.user = msg.payload.context.user.id;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["bd38e91a.018b78"]]},{"id":"9d9e1e36.490df","type":"http in","z":"7d4d35f1.6db1dc","name":"","url":"/v1/api/converse","method":"post","swaggerDoc":"","x":140,"y":340,"wires":[["de946a3e.59cd08","395c4856.c3d968","7f11f8bd.9b2828"]]},{"id":"7f11f8bd.9b2828","type":"switch","z":"7d4d35f1.6db1dc","name":"Intent Switcher","property":"payload.attributes.intent","propertyType":"msg","rules":[{"t":"eq","v":"dad-joke","vt":"str"},{"t":"eq","v":"chuck-norris-joke","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":340,"wires":[["98a07df8.c4f5d","1e371e9b.6cabf1"],["f966884e.d55918","1e371e9b.6cabf1"],["948f1c61.b6c8d","1e371e9b.6cabf1"]]},{"id":"b8175c4f.01ced","type":"http in","z":"7d4d35f1.6db1dc","name":"","url":"/v1/api/intents","method":"get","swaggerDoc":"","x":130,"y":720,"wires":[["99b93556.9b9e98","841fd932.4c66d8"]]},{"id":"4fc8efef.f27df","type":"http in","z":"7d4d35f1.6db1dc","name":"","url":"/v1/api/manifest","method":"get","swaggerDoc":"","x":140,"y":880,"wires":[["cb28fd95.65887","fe5666f2.f4fcd8"]]},{"id":"8e22f817.603c08","type":"http in","z":"7d4d35f1.6db1dc","name":"","url":"/v1/api/nlu","method":"get","swaggerDoc":"","x":120,"y":800,"wires":[["43ef8550.4fb43c","67c2c4ef.7e289c"]]},{"id":"f50dbe9a.3b906","type":"http in","z":"7d4d35f1.6db1dc","name":"","url":"/v1/api/healthcheck","method":"get","swaggerDoc":"","x":150,"y":640,"wires":[["d05b8854.317378","9119237.2f578e"]]},{"id":"951c068b.2de648","type":"http response","z":"7d4d35f1.6db1dc","name":"/v1/api/converse","x":1450,"y":320,"wires":[]},{"id":"99b93556.9b9e98","type":"template","z":"7d4d35f1.6db1dc","name":"intents.json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n}","output":"str","x":415,"y":722,"wires":[["7d134445.59fb8c"]]},{"id":"cb28fd95.65887","type":"template","z":"7d4d35f1.6db1dc","name":"manifest.json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"description\": \"Test template for Node-RED skill\",\n  \"private\": false,\n  \"author\": \"Andy Barnes\",\n  \"version\": \"1.0.0\",\n  \"license\": \"Apache-2.0\",\n  \"threshold\": 0.85,\n  \"nlu\": [\n    \"skill\", \"wcs\"\n  ],\n  \"languages\": [\n    \"en-US\"\n  ],\n  \"tags\": [\n    \"test\",\n    \"skill\"\n  ]\n}","output":"json","x":410,"y":880,"wires":[["3d4e6d70.2270e2","7d134445.59fb8c"]]},{"id":"d05b8854.317378","type":"http response","z":"7d4d35f1.6db1dc","name":"","x":390,"y":640,"wires":[]},{"id":"43ef8550.4fb43c","type":"template","z":"7d4d35f1.6db1dc","name":"wcs.json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n}  ","output":"json","x":400,"y":800,"wires":[["7d134445.59fb8c"]]},{"id":"7d134445.59fb8c","type":"http response","z":"7d4d35f1.6db1dc","name":"","statusCode":"","headers":{},"x":610,"y":800,"wires":[]},{"id":"3326ff46.92146","type":"function","z":"7d4d35f1.6db1dc","name":"#dad-joke processing","func":"// Do whatever or call an RESTful API call\n// using a http request node\n\n// Here I override the evaluation response\n// and use something from the code here\n//\n// And add a card to the response\n\nlet responseText = msg.payload.joke;\nlet card = {\n        \"type\": \"some action\",\n        \"content\": {\n          \"some\": \"json\"\n        }\n};\nlet captureInput = false;\nlet deleteSkillSession = false;\n\n// Set the response for the template\nmsg.payload = {\n    \"text\" : responseText,\n    \"card\" : JSON.stringify(card),\n    \"captureInput\" : captureInput,\n    \"deleteSkillSession\" : deleteSkillSession\n};\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":280,"wires":[["f9c98d1.007597"]]},{"id":"948f1c61.b6c8d","type":"function","z":"7d4d35f1.6db1dc","name":"Default processing","func":"// Do whatever or call an RESTful API call\n// using a http request node\n\n// Here we just use the evaluation response\n// Which WAS passes to the converse\n// But add whatever you want\n\nlet responseText =\"\";\nif(msg.payload.evaluationResponse.requestResult) {\n    responseText = msg.payload.evaluationResponse.requestResult.replace(/\"/g, \"'\");\n} else if(msg.payload.evaluationResponse.response) {\n    responseText = msg.payload.evaluationResponse.response.replace(/\"/g, \"'\");\n} \nlet captureInput = true;\nlet deleteSkillSession = false;\nlet card = {};\n\nmsg.payload = {\n    \"text\" : responseText,\n    \"card\" : JSON.stringify(card),\n    \"captureInput\" : captureInput,\n    \"deleteSkillSession\" : deleteSkillSession\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":480,"wires":[["f9c98d1.007597"]]},{"id":"f9c98d1.007597","type":"template","z":"7d4d35f1.6db1dc","name":"converse response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"reject\": false,\n  \"error\": 200,\n  \"deleteSkillSession\": {{{payload.deleteSkillSession}}},\n  \"captureInput\": {{{payload.captureInput}}},\n  \"speech\": {\n    \"text\": \"{{{payload.text}}}\"\n  },\n  \"context\": {\n    \"application\": {\n      \"id\": \"app-001\",\n      \"attributes\": {}\n    },\n    \"session\": {\n      \"skill\": {\n        \"attributes\": {}\n      },\n      \"attributes\": {}\n    }\n  },\n  \"card\": {{{payload.card}}}\n}","output":"json","x":1230,"y":320,"wires":[["bac11b42.482998","951c068b.2de648"]]},{"id":"4ebaf807.9f3968","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"console":"false","complete":"false","x":1350,"y":80,"wires":[]},{"id":"bac11b42.482998","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"console":"false","complete":"false","x":1430,"y":280,"wires":[]},{"id":"3d4e6d70.2270e2","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"console":"false","complete":"false","x":630,"y":880,"wires":[]},{"id":"de946a3e.59cd08","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":400,"wires":[]},{"id":"aeafefdc.5b94a","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":160,"wires":[]},{"id":"9997508f.e31d7","type":"link in","z":"7d4d35f1.6db1dc","name":"Request URI","links":["841fd932.4c66d8","fe5666f2.f4fcd8","67c2c4ef.7e289c","b7c47166.34222","395c4856.c3d968"],"x":295,"y":560,"wires":[["9119237.2f578e"]]},{"id":"841fd932.4c66d8","type":"link out","z":"7d4d35f1.6db1dc","name":"","links":["9997508f.e31d7"],"x":295,"y":680,"wires":[]},{"id":"9119237.2f578e","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"console":false,"complete":"req.url","x":410,"y":600,"wires":[]},{"id":"fe5666f2.f4fcd8","type":"link out","z":"7d4d35f1.6db1dc","name":"","links":["9997508f.e31d7"],"x":295,"y":840,"wires":[]},{"id":"67c2c4ef.7e289c","type":"link out","z":"7d4d35f1.6db1dc","name":"","links":["9997508f.e31d7"],"x":295,"y":760,"wires":[]},{"id":"d930a2dd.764ad","type":"comment","z":"7d4d35f1.6db1dc","name":"Skill Registration","info":"","x":140,"y":580,"wires":[]},{"id":"c4eea964.02af08","type":"comment","z":"7d4d35f1.6db1dc","name":"Evaluate","info":"","x":120,"y":80,"wires":[]},{"id":"b7c47166.34222","type":"link out","z":"7d4d35f1.6db1dc","name":"","links":["9997508f.e31d7"],"x":295,"y":80,"wires":[]},{"id":"963f736.21bb99","type":"comment","z":"7d4d35f1.6db1dc","name":"Converse","info":"","x":120,"y":300,"wires":[]},{"id":"395c4856.c3d968","type":"link out","z":"7d4d35f1.6db1dc","name":"","links":["9997508f.e31d7"],"x":295,"y":300,"wires":[]},{"id":"c1aa799a.187cc8","type":"debug","z":"7d4d35f1.6db1dc","name":"from wcs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":80,"wires":[]},{"id":"c919618b.899e7","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"console":"false","complete":"false","x":1130,"y":80,"wires":[]},{"id":"51f85bbb.74ca14","type":"http request","z":"7d4d35f1.6db1dc","name":"","method":"GET","ret":"obj","url":"https://icanhazdadjoke.com","tls":"","x":770,"y":280,"wires":[["41a18d2c.943d24","3326ff46.92146"]]},{"id":"41a18d2c.943d24","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":240,"wires":[]},{"id":"98a07df8.c4f5d","type":"change","z":"7d4d35f1.6db1dc","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":280,"wires":[["51f85bbb.74ca14"]]},{"id":"f966884e.d55918","type":"change","z":"7d4d35f1.6db1dc","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["10b1a19.880be5e"]]},{"id":"10b1a19.880be5e","type":"http request","z":"7d4d35f1.6db1dc","name":"","method":"GET","ret":"obj","url":"https://api.chucknorris.io/jokes/random","tls":"","x":770,"y":420,"wires":[["ca1886d5.508108","8f777919.dd6f08"]]},{"id":"ca1886d5.508108","type":"function","z":"7d4d35f1.6db1dc","name":"#chuck-norris processing","func":"// Do whatever or call an RESTful API call\n// using a http request node\n\n// Here I override the evaluation response\n// and use something from the code here\n//\n// And add a card to the response\n\nlet responseText = msg.payload.value;\nlet card = {\n        \"type\": \"some action\",\n        \"content\": {\n          \"some\": \"json\"\n        }\n};\nlet captureInput = false;\nlet deleteSkillSession = false;\n\n// Set the response for the template\nmsg.payload = {\n    \"text\" : responseText,\n    \"card\" : JSON.stringify(card),\n    \"captureInput\" : captureInput,\n    \"deleteSkillSession\" : deleteSkillSession\n};\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["f9c98d1.007597"]]},{"id":"8f777919.dd6f08","type":"debug","z":"7d4d35f1.6db1dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":380,"wires":[]},{"id":"1e371e9b.6cabf1","type":"debug","z":"7d4d35f1.6db1dc","name":"intent switcher","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.attributes","x":560,"y":340,"wires":[]},{"id":"71d977ba.2b1c08","type":"comment","z":"7d4d35f1.6db1dc","name":"Chuck","info":"Change these to call a subflow or whatever and return your\nresult here into the template (or create your own template node \nif you are doing something specific)\n\n","x":550,"y":380,"wires":[]}]